<!-- Google Search Console 소유권 확인 -->
<meta name="google-site-verification" content="Bc0qrnmlpOvm1P2wRqp-7QJ7ZDdN49ydL95RAIle_Ck" />
<!-- Naver Search Advisor 소유권 확인 -->
<meta name="naver-site-verification" content="75af6a422a4eabfc82807330128c88dc9a8ade9d" />

<!-- Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4208024076105019"
     crossorigin="anonymous"></script>

<!-- Supabase JS Client -->
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2/dist/umd/supabase.min.js"></script>
